
{% include 'Inc/header2.html'%}

{% load static %}

<div  style=  "background: linear-gradient(to right, rgb(255, 255, 255), rgba(158, 221, 221, 0.315)); width:100%; height:100%">

    <br>
    <h3 style="color:rgb(26, 146, 146); text-align:center;  "> ¡BIENVENIDO! </h3>
    <br><br>
    <div id="contenido_inicio">
        <img src='{% static "Img/video.png" %}'alt="imagen" id="imagen_video_inicio">
    </div>
    <br> <br> 
    <p style="text-align:center; font-size:14px" id="texto_seleccione_opcion"> Seleccione una opción del Menú</p> 

</div>


{% include 'Inc/pie2.html'%}