


<!-- correoSolicitudIncapacidad.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... (puedes agregar metadatos si es necesario) -->
</head>
<body>
    <p>Saludos,</p>
    <p>Se ha enviado tu solicitud de incapacidad. Pronto recibirás una respuesta.</p>
    <p>Detalles de la solicitud:</p>
    <ul>
        <li>Tipo de incapacidad: {{ tipo_incapacidad }}</li>
        <li>Número de Incapacidad: {{ numero_incapacidad }}</li>
        <li>Fecha de Inicio: {{ fecha_inicio }}</li>
        <li>Fecha de Fin: {{ fecha_fin }}</li>
    </ul>
    <p>NO RESPONDER A ESTE MENSAJE</p>
    <p>Human Talent Management</p>
</body>
</html>



