{% include 'Inc/header1.html'  %}
{% load static %}

<br><br><br><br>

        <div  id="texto_inicio_responsive">
            <p>Human Talent Managent es una herramienta que apoya la gestión del talento humano de empresas Colombianas</p>
        </div>

        <div id="texto_inicio">
            <p style="color:black; text-align:center; font-size: 14px">Human Talent Managent es una herramienta que apoya la gestión del </p>
            <p style="color:black; text-align:center; font-size: 14px"> talento humano de empresas Colombianas </p>
        </div>

        <br><br>
        <center>
            <div class="ui circular transparent label">
                <b> <p style="color:black; font-size: 14px">  &nbsp;&nbsp;&nbsp;&nbsp;¡La gestión del talento humano&nbsp;&nbsp;&nbsp;&nbsp;</p> 
                    <center>&nbsp;&nbsp;&nbsp;&nbsp;nunca había sido tan fácil! &nbsp;&nbsp;&nbsp;&nbsp;</center> </div> </b>
            </div> 
        </center>
        <br><br><br><br>
          
          <div  class="menu" id="espacio">
            <a class="link7" href="/inicioSesion">
                <button type="button" class="boton5">
                    <img src="{% static 'Img/Icono_iniciosesion.png' %}" alt="" width="65px"> <br><br>
                    <div>Inicio de sesión</div> 
                </button>  
            </a>
          

            <a class="link7" href="/registropaso1">
                    <button type="button" class="boton6">
                        <img src="{% static 'Img/Icono_registroUsuario.png' %}" alt="" width="65px"> <br><br>
                        <div>Registro</div>
                    </button>
            </a>

    </div>
            

</body>
</html>