<!-- correoSolicitudEPS.html -->

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>Saludos,</p>
    <p>Se ha enviado tu solicitud de Traslado de EPS. Pronto resiviras una respuesta.</p>
    <p>Detalles de la solicitud:</p>
    <ul>
        <li>EPS actual: {{ eps_actual }}</li>
        <li>EPS nueva: {{ eps_nueva }}</li>
        <li>Motivo del cambio: {{ motivo }}</li>
    </ul>

    <p>Human Talent Mangement</p>

    
</body>
</html>
-->


<!-- correoSolicitudEPS.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
</head>
<body>
    <p>Saludos,</p>
    <p>Se ha enviado tu solicitud de Traslado de EPS. Pronto recibirás una respuesta.</p>
    <p>Detalles de la solicitud:</p>
    <ul>
        <li>EPS actual: {{ eps_actual }}</li>
        <li>EPS nueva: {{ eps_nueva }}</li>
        <li>Motivo del cambio: {{ motivo }}</li>
    </ul>
    <p>NO RESPONDER ESTE MENSAJE</p>
    <p>Human Talent Management</p>
</body>
</html>


