{% include 'Inc/header2.html' %}
{% load static %}

<div class="ui container" style="background-color: white; width:100%"> 

    <br>
    <a class="ui teal icon button" href="/inicio" style="cursor: default;">
        <i class="reply icon"></i>
    </a>
    <div>
        <button style="cursor: default;" class="ui teal button" id="boton_permisos">Traslado de EPS</button>
    </div>

    <br><br>
    <div style="text-align:center; margin-left: 7%; margin-right:7%">
        <p style="font-size: 14px" >A través de esta apartado podrá llevar a cabo el proceso relacionados a sus Solicitudes de Traslado de EPS. </p>
        <br>
        <p style="font-size: 14px">Puede llevar a cabo solicitud de traslado de EPS cuando requiera del cambio.
        </p>
        <br>
        <p style="color: rgb(26, 179, 179); font-size: 14px">Selecciona una opción para continuar</p>
    </div>


    <div style="display: flex; justify-content: center;">
        <a  class="link4" href="/insertartrasladoEPS" style="padding: 5%">
            <button type="button" class="boton4">
                <img src="{% static 'Img/realizar.png' %}" alt="" width="65px"> 
            </button>
            <p style="margin-top: 7%; color: #000; font-size: 13px"> Realizar solicitud</p>
        </a>
        
        <a  class="link4" href="/historialtrasladosEPSUF" style="padding: 5%">
            <button type="button" class="boton4">
                <img src="{% static 'Img/historial.png' %}" alt="" width="65px"> 
            </button>
            <br>
            <p  style="margin-top: 7%; color: #000; font-size: 13px"> Ver historial</p>
        
        </a>
        

    </div>

</div>





{% include 'Inc/pie2.html' %}