{% include 'Inc/header2.html' %}
{% load static %}


<div class="ui container" style="background-color: white"> 

    <br>
    <a class="ui teal icon button" href="/historialtrasladosEPSUF" style="cursor: default;">
        <i class="reply icon"></i>
    </a>
    <div>
        <button style="cursor: default;" class="ui teal button" id="boton_permisos">Traslado de EPS</button>
    </div>

    <br><br>
    <div style="text-align:center; margin-left: 7%; margin-right:7%">

        <h5>Ver solicitud</h5>
        <br>
        <div class="ui container">
           
            <form class= "ui form" method="POST" enctype="multipart/form-data">
            
                {% for t in traslados %}

                    {% csrf_token %}

                
                    <div class="two fields">

                            <div class="field">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EPS actual</font></font></label>
                                <input type="text" value="{{t.5}}" readonly>
                            </div>

                            <div class="field">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">EPS nueva</font></font></label>
                                <input type="text" value="{{t.6}}" readonly>
                            </div>    
                    </div>
            
                    <div class="two fields">
                        <div class="field">
                            <label>Motivo del cambio</label>
                            <textarea id="motivo" name="motivo" rows="4" cols="50" readonly>{{t.7}}
                            </textarea>
                        </div>
                        <div class="field">
                            <label for="">Archivos adjuntos</label> 
                            <br><br>
                            {% if t.8 %}
                                <a href="{% get_media_prefix %}/{{ t.8 }}" target="_blank" style="color: rgb(233, 107, 128);"><i class="big file outline icon"></i>Descargar archivo</a>
                            {% endif %}
                        

                        </div>
                    </div>
    
                
                {% endfor %}


            </form>       
                
            
    </div>
</div>


{% include 'Inc/pie2.html' %}




