
{% include 'Inc/header2.html' %}

{%  load static %}


<div class="ui container" style="background-color: white; width:100%"> 

    <br><br>
        <center>		
            <div>
                <button style="cursor: default" class="ui teal button">Permisos</button>
            </div>
        
            <h5>Historial de solicitudes</h5>
            <br>                    
            <p style="font-size:14px">A través de esta apartado podrá visualizar los proceso relacionados a sus Solicitudes de Permisos </p>
    
        
            <br>
    
            <table class="ui striped table">
                <thead>
                    <tr>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de la solicitud</font></font></th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo</font></font></th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Motivo</font></font></th>
                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Estado</font></font></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Juan Lilki</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">14 de septiembre de 2013</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">jhlilk22@yahoo.com</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">No</font></font></td>
                    </tr>
                    <tr>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">jamie harington</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11 de enero de 2014</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">jamieharingtonton@yahoo.com</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sí</font></font></td>
                    </tr>
                    <tr>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">jill lewis</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11 de mayo de 2014</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">jilsewris22@yahoo.com</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sí</font></font></td>
                    </tr>
                    <tr>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Juan Lilki</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">14 de septiembre de 2013</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">jhlilk22@yahoo.com</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">No</font></font></td>
                    </tr>
                    
                    
                </tbody>
                </table>
        
            
        </div>
        </center>
    

</div>


{% include 'Inc/pie2.html'  %}