{% include 'Inc/header3.html' %}
{% load static %}


<div class="ui container" style="background-color: white"> 

    <br>
    <div>
        <button style="cursor: default;" class="ui teal button" id="boton_permisos">Incapacidades</button>
    </div>

    <br><br>
    <div style="text-align:center; margin-left: 7%; margin-right:7%">

        <h5>Ver solicitud</h5>
        <br>
        <div class="ui container">
           
            <form class= "ui form" method="POST" enctype="multipart/form-data">
            
                {% for t in incapacidades %}

                    {% csrf_token %}

                        <table class="ui blue table">
                            <thead>
                                <tr>
                                    <th>Fecha solicitud</th>
                                    <th>Id del empleado</th>
                                    <th>Empleado</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>{{ t.1 }}</td>
                                    <td>{{ t.2 }}</td>
                                    <td>{{ t.3 }}  {{ t.4 }}</td>
                                    <td>  </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="two fields">
                        
                            <div class="field">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo de incapacidad</font></font></label>
                                <input type="text" value="{{t.5}}" readonly>
                            </div>

                            <div class="field">
                                <label>Número de Incapacidad</label>
                                <input type="text" value="{{t.6}}" readonly>
                            </div>
                        </div>
                    
                   
                        <div class="two fields">
                    
                            <div class="field">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Desde</font></font></label>
                                <input type="text" value="{{t.7}}" readonly>
                            </div>

                            <div class="field">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hasta</font></font></label>
                                <input type="text" value="{{t.8}}" readonly>
                            </div>

                           
                        </div>
                    
                    
                        
                        <div class="one fields">
                            <div class="field">
                                <label for="">Archivos adjuntos</label> 
                                <textarea id="certificadoEPSactual" name="certificadoEPSactual" rows="4" cols="50" readonly>{{t.8}}
                                </textarea>
                            </div>
                        </div>
        

                        <label><b>¿APROBAR?</b></label>
                        <select name="opcionesrespuesta" class="ui search dropdown">
                            <option value="si">Sí</option>
                            <option value="no">No</option>
                        </select>

                        <div class="ui divider"></div>

                        <div style="text-align: center;">
                            <button class="ui grey circular button">
                                <i class="paper plane icon"></i>
                                Enviar respuesta
                            </button>
                        </div>
                    
                {% endfor %}


            </form>       
                
            
    </div>
</div>


{% include 'Inc/pie2.html' %}