
<!-- correoSolicitudPermiso.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <p>Saludos,</p>
    <p>Se ha enviado tu solicitud de permiso. Pronto recibirás una respuesta.</p>
    <p>Detalles de la solicitud:</p>
    <ul>
        <li>Tipo de permiso: {{ tipo_permiso }}</li>
        <li>Fecha de Inicio: {{ fecha_inicio }}</li>
        <li>Fecha de Fin: {{ fecha_fin }}</li>
    </ul>
    <p>NO RESPONDER A ESTE MENSAJE</p>
    <p>Human Talent Management</p>
</body>
</html>




